<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <title>點餐系統</title>
</head>
<body>
    <h1>歡迎使用點餐系統</h1>
    <form action="{{ url_for('order') }}" method="post">
        {% for item in menu %}
        <div>
            <img src="{{ url_for('static', filename='images/' + item.image) }}" width="100">
            <p>{{ item.name }} - ${{ item.price }}</p>
            <input type="checkbox" name="item" value="{{ item.name }}">
        </div>
        {% endfor %}
        <button type="submit">送出訂單</button>
    </form>
</body>
</html>
